

.nav {
    position: fixed;
    padding-top: 30px;
    grid-area: n;
    background-color: blanchedalmond;
    height: 100%;
    top: 88px;
    width: 233px;
}

a {
    text-decoration: none;
    color: brown;
}
.item {
    list-style-type: none;
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
}

.item .active {
    color: rgb(77, 77, 189);
    transition: 0.4s;
    
}


ul li:hover {
    font-weight: 900;
    transition: 0.6s all;
}
.frendi {
    display: flex;
    justify-content: space-around;
}

.h {
    margin-top: 50px;
    margin-left: 50px;
    color: chocolate;
}

.frendi img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.name {
    font-size: 14px;
}

